<div class="clientes">
    <div class="form-group" *ngIf="!nombre"> <!--Si variable no contiene un valor-->
        <label for="">Seleccione cliente</label>
        <input class="form-control" type="text" (input)="buscarCliente($event.target.value)" placeholder="Buscar cliente">
        <!--$event.target.value rescata el valor que se ingresa al input sin hacer enter, rescata en tiempo real las pulsaciones-->
    </div>
    <div class="form-group" *ngIf="nombre"> <!--Si variable contiene un valor-->
        <label for="">Cliente</label>
        <div class="row">
            <div class="col-sm-9">
                <input [(ngModel)]="nombre" disabled type="text" class="form-control">
            </div>
            <div class="col-sm-3">
                <button (click)="cancelarCliente()"class="btn btn-danger">Cancelar</button>
            </div>

        </div>
    </div>
    
    <div class="list-group">
        <div *ngFor="let cliente of clientes ">
            <a *ngIf="cliente.visible" (click)="seleccionarCliente(cliente)" class="list-group-item list-group-item-action">{{cliente.nombre}} {{cliente.apellido}}</a>

        </div>

      </div>
</div>