<div class="container">
  <div class="text-center"> <!-- centra la imagen con esa clase, definida por bootstrap -->
    <img src="assets/calistenia.jpeg" alt="">
  </div> 
  
    <form [formGroup]="formularioLogin">
        <div class="form-group">
          <label for="email">Correo</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese email" formControlName="email">
          <small id="emailHelp" class="form-text text-muted">Correo nunca sera compartido.</small>
        
          <div *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioLogin.controls['email'].errors.required">Correo es requerido</span>
            <span *ngIf="formularioLogin.controls['email'].errors.email">Correo no es valido</span>
          </div>

        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" (keyUp.enter)="ingresar()" class="form-control" id="password" placeholder="Ingrese contraseña" formControlName="password">
        
          <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger" role="alert">
            <span *ngIf="formularioLogin.controls['password'].errors.required">Contraseña no es valido</span>     
          
          </div>
       
        </div>
        <!-- keyUp.teclaPresionada registra la pulsacion de tecla y ejecuta una accion -->
        <button type="submit" (click)="ingresar()" [disabled]="!formularioLogin.valid" class="btn btn-primary">Login</button>
      </form>

      <div *ngIf="!datosCorrectos" class="alert alert-warning" role="alert">
        {{textoError}}
      </div>

<!-- NgSpinner es CSS que muestra cargando -->
      <ngx-spinner
          bdOpacity = 0.9
          bdColor = "#ee2887"
          size = "large"
          color = "#0fe0a8"
          type = "ball-atom"
          [fullScreen] = "true"
      >
          <p style="color: white" > Cargando... </p>
      </ngx-spinner>

</div>