<div class="container mt-5">
    <div class="row">

        <div class="col-sm-6">
            
            <app-seleccionar-cliente 
            [nombre]="clienteSeleccionado.nombre" 
            (seleccionoCliente)="asignarCliente($event)"
            (canceloCliente)="eliminarCliente()"
            >

            </app-seleccionar-cliente>

            <div class="from-control">
                <label for="">Precio</label> <!--Cuando select cambia su valor activa lafuncion y rescata el valor del target, en este caso el target es el option y el valor del option es el [value]="precio.id" rescatado del precio actual que s eextrae del for-->
                <select [(ngModel)]="idPrecio" (change)="seleccionoPrecio($event.target.value)" class="form-control" name="" id="">
                    <option [value]="null">Seleccione un precio</option>
                    <option *ngFor="let precio of precios" [value]="precio.id">{{precio.nombre}}</option>
                </select>
            </div>
            
            <div class="from-control">
                <label for="">Fecha Inicio</label>
                <input class="form-control" type="text" disabled [value]="inscripcion.fecha | date"> <!--Agregandole el pipe date -> | date -> cambia formato a solo fecha d/m/a-->
            </div>

            <div class="from-control">
                <label for="">Fecha Final</label>
                <input class="form-control" type="text" disabled [value]="inscripcion.fechaFinal | date">
            </div>

            <div class="from-control">
                <label for="">Subtotal</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.subTotal">
            </div>

            <div class="from-control">
                <label for="">ISV</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.isv">
            </div>

            <div class="from-control">
                <label for="">Total</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.total">
            </div>
            

            
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>

        <div class="col-sm-6">
            <div *ngIf="clienteSeleccionado.img">
                <img class="imgCliente" [src]="clienteSeleccionado.img" alt="">
            </div>
        </div>

    </div>
</div>