<!-- <div *ngIf="afAuth.user | async as user; else showLogin"> 
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div> -->

<div *ngIf="usuario && !cargando; else showLogin">

  <app-encabezado></app-encabezado>
  <router-outlet></router-outlet>
</div>


<ng-template #showLogin>
  <div *ngIf="cargando" class="text-center">
    <div class="lds-ripple"><div></div><div></div></div>  
  </div>
  <app-login *ngIf="!cargando"></app-login>
</ng-template>

