<div class="container mt-5">
    <form [formGroup]="formularioCliente" action="">
         <div class="row"> <!-- //Crea un div de filas -->
            
             <div class="col-sm-4"> <!-- Crea una columna -->
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Agregar nombre">
                    <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['nombre'].errors.required">Nombre es requerido</span>
                    </div>
                
                </div>
             </div>

             <div class="col-sm-4"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" placeholder="Agregar apellido">
                    <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['apellido'].errors.required">Apellido es requerido</span>
                    </div>
                
                </div>
             </div>

             <div class="col-sm-4"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" formControlName="correo" placeholder="Agregar correo">
                    <div *ngIf="formularioCliente.controls['correo'].invalid && formularioCliente.controls['correo'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['correo'].errors.required">Correo es requerido</span> <!--Es errors.required-->
                        <span *ngIf="formularioCliente.controls['correo'].errors.email">Correo no es valido</span> <!--Es errors.email-->
                    </div>
                </div>
             </div>

             <div class="col-sm-4"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" formControlName="cedula" placeholder="Agregar cedula">
                 </div>
             </div>

             <div class="col-sm-4"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Fecha Nac</label>
                    <input type="date" class="form-control" formControlName="fechaNacimiento" placeholder="Agregar fecha">
                    <div *ngIf="formularioCliente.controls['fechaNacimiento'].invalid && formularioCliente.controls['fechaNacimiento'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['fechaNacimiento'].errors.required">Fecha Nac es requerido</span>
                    </div>
                </div>
             </div>

             <div class="col-sm-4"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" formControlName="telefono" placeholder="Agregar telefono">
                 </div>
             </div>

             <div class="col-sm-12"> <!-- Otra columna -->
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input type="file" (change)="subirImg($event)" class="form-control-file" formControlName="img" placeholder="Agregar imagen">
                    <div *ngIf="formularioCliente.controls['img'].invalid && formularioCliente.controls['img'].dirty" class="alert alert-danger" role="alert">
                        <span *ngIf="formularioCliente.controls['img'].errors.required">Imagen es requerido</span>
                    </div>
                </div>
             </div>

             <div class="col-sm-12">
                <progressbar [value]="porcentajeSubida" type="warning" [striped]="true">{{porcentajeSubida}}</progressbar>
             </div>

             <button *ngIf="!esEditable"class="btn btn-primary" [disabled]="!formularioCliente.valid && urlImg" (click)="agregar()">Agregar</button>
             <button *ngIf="esEditable"class="btn btn-primary" [disabled]="!formularioCliente.valid && urlImg" (click)="editar()">Editar</button>

         </div>

    </form>
</div>