<div class="container mt-3">
    <h4>Listado clientes</h4>

    <form action="">
        <div class="form-group">
            <input type="text" placeholder="Buscar cliente" class="form-control">
          </div>
    </form>

    <div class="row">
        <div class="col-sm-3" *ngFor="let cliente of clientes">
            <div class="card">
                <img class="card-img-top imgCliente" [src]="cliente.img">
                <div class="card-body">
                  <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                  <a [routerLink]="['/agregar-cliente/', cliente.id]"class="card-link">Editar</a>
                  <a href="#" class="card-link text-danger">Desactivar</a>
                </div>
              </div>        
        </div>

    </div>
</div>

