<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gimnasio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Inscripción <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/listado-inscripciones']">Ver inscripciones <span class="sr-only"></span></a>
        </li>
                 <!-- Indica que toda la etiqueta ul sera DropDown menu desplegable -->
        <li class="nav-item dropdown" dropdown> <!-- dropDownToggle indica que es el inicio, flecha del inicio del menu, click menu -->
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown"> <!-- dropDownMenu indica que todo el contenido dentro del div sera desplegable -->
            <a class="dropdown-item" [routerLink]="['/agregar-cliente']">Agregar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/listado-clientes']">Ver clientes</a>
          </div>
        </li>

        <li class="nav-item ">
          <a class="nav-link"[routerLink]="['/precios']">Precios <span class="sr-only"></span></a>
        </li>



        <li class="nav-item dropdown" dropdown> <!-- dropDownToggle indica que es el inicio, flecha del inicio del menu, click menu -->
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown"> <!-- dropDownMenu indica que todo el contenido dentro del div sera desplegable -->
            <a class="dropdown-item" href="#">Suscripciones diarias</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Suscripciones mensuales</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mas vendidas</a>
          </div>
        </li>
        

      </ul>
<!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>

    <button class="btn btn-danger" (click)="logout()">Salir</button>

  </nav>